.catalog__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 70px 50px 0px 50px;
}
.infiniteScroll{
    overflow: hidden !important;
}

.search__input.search__input{
    display: block;
    text-align: center;
    margin-top: 100px;

}

.MuiInputBase-input.MuiInputBase-input{
    width: 300px;
}

.res{
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0;
}


.search__panel{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
}

.filter__title{
    margin-right: 35px;
}

.filter__value{
    margin-right: 7px;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item{
    padding-bottom: 0;
}
.btn__filter.btn__filter{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.hide{
    display: none;
}