.favorite-card__wrapper{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    width: 50%;
}

.favorite__description.favorite__description{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 600px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.favorite-card__wrapper .card__img{
    margin: unset;
    margin-right: 35px;
    margin-top: 20px;
}

.favorite-card__wrapper .tagline{
    font-style: italic;
    font-size: 13px;
}
